# Environment and cache files
.venv/
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
pothole-detection (10).ipynb

# Model files
*.pt
*.onnx

# Reports
*.pdf
*.docx
*.wbk

# Data
New-pothole-detection-2/
pothole-detection-1/
