# Environment and cache files
.venv/
.env
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
pothole-detection (10).ipynb

# Model files
*.pt
*.onnx
Pothole_Research/YOLOv8-FPN/
Pothole_Research/YOLOv11/
Pothole_Research/YOLOv12n/

# Reports
*.pdf
*.docx
*.wbk

# Data
New-pothole-detection-2/
pothole-detection-1/
